---
import { Icon } from '@/components/Icon'
import { IconMail, IconMapPin, IconClock, IconPhone } from '@/components/Icons'
import Layout from '@/layouts/Layout.astro'
import { MessageForm } from '@/components/contact/MessageForm'
import { PhoneContact } from '@/components/PhoneContact'

const selectOptions = [
	{ text: 'Consulta General', value: 'general-inquiry' },
	{ text: 'Reserva de Pasaje', value: 'ticket-reservation' },
	{ text: 'Reclamo', value: 'reclaim' },
	{ text: 'Sugerencia', value: 'suggestion' },
	{ text: 'Equipaje Perdido', value: 'lost-luggage' },
	{ text: 'Otro', value: 'other' }
]

const contactInfo = [
	{ Icon: IconPhone, title: 'Teléfono Principal', details: '4544 6181' },
	{ Icon: IconMail, title: 'Email General', details: 'berruttiturismo@adinet.com.uy' },
	{ Icon: IconMapPin, title: 'Oficina Central', details: 'Gral. Jose Gervasio Artigas 1193, Nueva Palmira' },
	{ Icon: IconClock, title: 'Atencion al Cliente', details: 'Lunes a Viernes: 7:00 - 19:00' },
]

const offices = [
	{ dept: 'Colonia', place: 'Local Nº 401 - Terminal de Ómnibus', number: '4522 5301', maps: 'https://goo.gl/maps/n6dJaecYFAoNUNkw7' },
	{ dept: 'Carmelo', place: 'Uruguay 337', number: '4542 2504', maps: 'https://goo.gl/maps/ekq5ueUK5CLCVyQq6' },
	{ dept: 'Nueva palmira', place: 'Gral Artigas 1193, esq.Eloy García', number: '4544 6181', maps: 'https://goo.gl/maps/URc34cnf6J6xDNuT6' },
	{ dept: 'Dolores', place: 'Artigas esq. Pbro. Bonofacio Redruello', number: '4534 4179', maps: 'https://goo.gl/maps/YmXeak5CnUxg1VFK8' },
	{ dept: 'Mercedes', place: 'Local Nº 7 -Terminal Shopping', number: '4532 6449', maps: 'https://goo.gl/maps/FuTGqrJsBcDDrVSY7' },
	{ dept: 'Ombúes', place: 'Zorrilla 1036 Bis', number: '4576 2859', maps: 'https://goo.gl/maps/NEh2aDkewo6HxLs69' }
]

const faq = [
	[
		{
			title: '¿Cómo puedo comprar un pasaje?',
			description: 'Puedes comprar pasajes en nuestras oficinas, por teléfono o próximamente a través de esta plataforma online.'
		},
		{
			title: '¿Puedo cancelar mi pasaje?',
			description: 'Sí, puedes cancelar tu pasaje hasta 2 horas antes de la llegada del ómnibus.'
		},
		{
			title: '¿Qué equipaje puedo llevar?',
			description: 'Cada pasajero puede llevar hasta 20kg de equipaje sin costo adicional, más equipaje de mano.'
		},
	],
	[
		{
			title: '¿Los ómnibus tienen WiFi?',
			description: 'Sí, la mayoría de nuestros ómnibus cuentan con WiFi gratuito.'
		},
		{
			title: '¿Qué pasa si pierdo mi equipaje?',
			description: 'Contáctanos inmediatamente. Informaremos al guarda del ómnibus que tomaste para que te ayude a buscarlo.'
		},
		{
			title: '¿Hay descuentos disponibles?',
			description: 'Ofrecemos descuentos para estudiantes, jubilados y abonos para viajeros frecuentes.'
		}
	]
]
---

<Layout title='Contáctanos' class='gap-8 px-6'>
	<section class='flex flex-col items-center w-full h-fit pt-20 pb-2'>
		<h1 class='text-4xl font-bold text-gray-800 dark:text-gray-50 mb-4 text-center'>Contacto</h1>
		<p class='text-gray-600 dark:text-gray-300 text-xl text-center max-w-160'>Estamos aquí para ayudarte. Contáctanos por cualquier consulta, sugerencia o información que necesites</p>
	</section>
	<section class='flex flex-col lg:flex-row gap-6 h-fit w-full max-w-screen-2xl justify-between pb-8'>
		<MessageForm
			selectOptions={selectOptions}
			client:load
		/>
		<aside class='flex flex-col w-full flex-1 lg:max-w-4/5 gap-6'>
			<div class='bg-white rounded-lg border border-gray-200 flex flex-col p-6 gap-6 dark:bg-gray-700/50 dark:border-0'>
				<h1 class='text-xl font-semibold dark:text-gray-50'>Información de Contacto</h1>
				{ contactInfo.map(({ Icon: InfoIcon, details, title }) => (
						<article class='flex items-center gap-4'>
							<Icon class='size-5 text-orange-500'>
								<InfoIcon />
							</Icon>
							<div class='flex flex-col'>
								<strong class='font-medium dark:text-gray-100'>{title}</strong>
								<span class='text-gray-600 dark:text-gray-300'>{details}</span>
							</div>
						</article>
				)) }
			</div>
			<div class='bg-red-50 rounded-lg border border-red-200 dark:bg-red-600/30 dark:border-0 flex flex-col p-6 gap-6'>
				<h1 class='text-red-800 font-semibold text-xl dark:text-gray-50 h-full'>Contactos de Emergencia</h1>
				<article class='flex items-center gap-6'>
					<Icon class='size-5 text-red-500 dark:text-red-400'>
						<IconPhone />
					</Icon>
					<div class='flex flex-wrap gap-x-8 gap-y-4 w-full'>
						<div class='flex flex-col'>
							<span class='font-medium text-red-700 dark:text-gray-200'>Central de Emergencias Nacional</span>
							<strong class='text-red-600 dark:text-red-50'>911</strong>
						</div>
						<div class='flex flex-col'>
							<span class='font-medium text-red-700 dark:text-gray-200'>Secretaría General de Bomberos</span>
							<strong class='text-red-600 dark:text-red-50'>2030 3505 - 2030 3507 - 2030 3508</strong>
						</div>
					</div>
				</article>
			</div>
		</aside>
	</section>
	<section class='max-w-screen-2xl w-full'>
		<h1 class='text-3xl font-bold text-gray-800 mb-4 text-center pb-2 dark:text-gray-50'>Nuestras Oficinas</h1>
		<div class='grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] w-full h-fit gap-6'>
			{
				offices.map((contact) => (
					<PhoneContact contact={contact} />
				))
			}
		</div>
	</section>
	<section class='max-w-screen-2xl w-full mt-4 mb-12'>
		<div class='bg-white border border-gray-200 dark:bg-gray-700/50 dark:border-0 rounded-lg p-6 sm:px-12'>
			<h1 class='text-2xl font-bold text-gray-800 dark:text-gray-100 mb-4 text-center pb-2'>Preguntas Frecuentes</h1>
			<div class='flex not-md:flex-col w-full h-fit gap-x-8'>
				{ faq.map(part => (
						<div class='w-full'>
							{ part.map(({ title, description }) => (
								<article class='py-2 flex flex-col gap-1.5'>
									<h1 class='text-orange-500 dark:text-orange-600-light font-semibold'>{title}</h1>
									<p class='text-sm text-gray-600 dark:text-gray-300'>{description}</p>
								</article>	
							)) }
						</div>
				)) }
			</div>
		</div>
	</section>
</Layout>