---
import { Aside } from '@/components/tracking/Aside'
import Header from '@/components/tracking/Header.astro'
import { MainZone } from '@/components/tracking/MainZone'
import { getBuses } from '@/services/busService'
import '@/styles/global.css'

export const prerender = false
const { location } = Astro.params
const [lat, lng] = location?.toString().split('/') ?? '/'

const title = 'Seguir Ómnibus'
const buses = await getBuses()
---

<html lang='es'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.webp' />
		<meta name='viewport' content='width=device-width' />
		<meta name='description' content='Web no oficial de Berrutti Turismo. Proyecto de fin de año' />
		<title>{title ? `${title} - Berrutti Turismo` : title}</title>
		<script src='../../lib/detectDeviceType.js'></script>
	</head>
	<body class='relative bg-gradient-to-br from-blue-50 to-orange-50 text-black h-full w-full'>
    <Header buses={buses} />
		<Aside
			class='relative lg:left-0 -left-80 top-0 z-10 flex flex-col justify-between h-[calc(100%-64px)] max-h-[calc(100%-64px)] overflow-hidden w-80 border-r border-gray-200 bg-white [transition:left_250ms_ease]'
			buses={buses}
			client:load
			/>
		<MainZone buses={buses} lat={Number(lat)} lng={Number(lng)} client:load />
	</body>
</html>
